body {
  margin: 0;
}

.container {
  width: calc(100% - 240px);
  margin-left: 240px;
  padding: 24px;
}

/* Remove link text decoration */
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
